.hero {
  display: grid;
  grid-template-columns: 20rem 1fr max-content;
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  align-items: center;
  margin-bottom: 3rem;
}
.hero__avatar {
  height: 20rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 12rem;
}

.hero__details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-gap: 1rem;
}

.hero__details--title {
  font-size: 5rem;
  font-weight: bold;
}

.hero__details--subtitle {
  font-size: 1.8rem;
  font-weight: lighter;
  color: var(--text-subtitle-color);
}
