#section-modal {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

#section-modal:target {
  display: block;
}

.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.5rem 5rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px) brightness(0.5);
  border: 1px solid var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.modal__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.7);
}

.modal__footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
