<div class="track-carousel">
  {% for album in albums %}
  <div class="track-carousel__item">
    <div class="track-carousel__item--cover album-carousel__item--cover">
      <a href="/player/album/{{album.id}}" class="">
        <div>
          <img src="{{ url_for('album_cover', album_id = album.id)}}" alt="Album Image"
            class="track-carousel__item--img album-carousel__item--img">
          <i class="fas fa-play track-carousel__item--play"></i>
        </div>
      </a>
    </div>
    <div class="track-carousel__item--text">
      <div class="track-carousel__item--text-header">
        <a href="/album/{{album.id}}" class="track-carousel__item--title">
          <p>{{album.name}}</p>
        </a>
      </div>
      <a href="/dashboard/channel/{{album.channel.id}}" class="track-carousel__item--artist">{{album.channel.name}}</a>
    </div>
  </div>
  {% endfor %}
</div>