<div class="playlist-container">
  {% for playlist in playlists %}
  <div class="playlist__item">
    <a href="/playlist/{{playlist.id}}" class=" playlist__link">
      <div class="playlist__details">
        <p class="playlist__heading">{{playlist.name}}</p>
        <p class="playlist__subheading">{{playlist.user.nickname}}</p>
      </div>
      <a href="/player/playlist/{{playlist.id}}">
        <i class="fas fa-circle-play playlist__playbutton"></i>
      </a>
    </a>
  </div>
  {% endfor %}
</div>