<ul class="track-list">
  {% for track in tracks %}
  <li class="track-item">
    <a href="{{ url_for('player', track_id=track.id)}}" class="track-item__link">
      <div class="track-item__cover">
        <img loading="lazy" p src="{{ url_for('track_cover', track_id=track.id)}}" alt=""
          class="track-item__cover--img">
        <i class="fas fa-play track-item__cover--playbutton"></i>
      </div>
      <span class="track-item__title">{{ track.name}}</span>
      <span class="track-item__artist">{{ track.channel.name}}</span>

      <!-- <span class="track-item__album">Album {{ n }}</span> -->
    </a>
    <div class="track-item__cta">
      <a href="{{ url_for('update_rating', track_id=track.id, rating=1) }}"
        class="track-item__cta-link track-item__cta--like {%if track.rating == 1 %} track-item__cta-link--active {% endif %}">
        <i class="{%if track.rating == 1 %}fas {% else %} far {% endif %} fa-thumbs-up"></i>
      </a>
      <a href="{{ url_for('update_rating', track_id=track.id, rating=0) }}"
        class="track-item__cta-link track-item__cta--like {%if track.rating == 0 %} track-item__cta-link--active {% endif %}">
        <i class="{%if track.rating == 0 %}fas {% else %} far {% endif %} fa-thumbs-down"></i>
      </a>
      {% if playlist_id != 0 and author_id == current_user.id %}
      <a href="{{ url_for('playlist_track_delete', playlist_id=playlist_id, track_id=track.id) }}"
        class="track-item__cta-link track-item__cta--remove">
        <i class="fas fa-minus"></i>
      </a>
      {% endif %}
      <a href="?id={{ track.id }}#playlist-add-modal" class="track-item__cta-link track-item__cta--remove">
        <i class="fas fa-plus"></i>
      </a>
    </div>
    <p class="track-item__timer"> {{ track.duration | format_duration }}</p>
  </li>
  {% endfor %}
</ul>