<div class="track-carousel">
  {% for track in tracks %}
  <div class="track-carousel__item">
    <div class="track-carousel__item--cover">
      <a href="/player/{{track.id}}" class="">
        <div>
          <img src="{{ url_for('track_cover', track_id = track.id)}}" alt="track Image"
            class="track-carousel__item--img">
          <i class="fas fa-play track-carousel__item--play"></i>
        </div>
      </a>
    </div>
    <div class="track-carousel__item--text">
      <div class="track-carousel__item--text-header">
        <a href="/player/{{track.id}}" class="track-carousel__item--title">
          <p>{{track.name}}</p>
        </a>
        <div class="track-menu-container">
          <input type="checkbox" id="track-carousel-{{track.id}}" name="track-menu-{{track.id}}" id=""
            class="checkbox-disable track-menu__checkbox">
          <div class="track-dropdown-container">
            <ul class="dropdown-list">
              <li class="dropdown-item">
                <a href="?id={{track.id}}#playlist-add-modal" class="dropdown-item--link">
                  Add to Playlist
                </a>
              </li>
              <li class="dropdown-item">
                <a href="?id={{track.id}}#report-modal" class="dropdown-item--link">
                  Report
                </a>
              </li>
            </ul>
          </div>
          <label for="track-carousel-{{track.id}}" class="track-menu-label">
            <i class="fas fa-ellipsis-v"></i>
          </label>
        </div>
      </div>
      <a href="/dashboard/channel/{{track.channel_id}}" class="track-carousel__item--artist">{{track.channel.name}}</a>
    </div>
  </div>
  {% endfor %}
</div>