{% extends "base.html"%}
{%block title%}Admin Dashboard{%endblock%}
{% block m_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}
{% block m_content %}
<section id="section section-statistics">
  <div class="admin-dashboard__header mb-medium">
    <h1 class="heading-1">Admin Dashboard</h1>
  </div>
  <div class="admin-header-tiles">
    <a href="/admin/dashboard/users">
      <div class="admin-header-tile">
        <p class="admin-header-tile--title">Total Users</p>
        <p class="admin-header-tile--number">{{ users|length}}</p>
      </div>
    </a>
    <a href="/admin/dashboard/channels">
      <div class="admin-header-tile">
        <p class="admin-header-tile--title">Total Channels</p>
        <p class="admin-header-tile--number">{{ channels|length}}</p>
      </div>
    </a>
    <a href="/admin/dashboard/playlists">
      <div class="admin-header-tile">
        <p class="admin-header-tile--title">Total Playlists</p>
        <p class="admin-header-tile--number">{{ playlists|length}}</p>
      </div>
    </a>
    <a href="/admin/dashboard/playlists">
      <div class="admin-header-tile">
        <p class="admin-header-tile--title">Total Albums</p>
        <p class="admin-header-tile--number">{{ albums|length}}</p>
      </div>
    </a>
    <a href="/admin/dashboard/tracks">
      <div class="admin-header-tile">
        <p class="admin-header-tile--title">Total Tracks</p>
        <p class="admin-header-tile--number">{{ tracks|length}}</p>
      </div>
    </a>
    <a href="/admin/dashboard/genres">
      <div class="admin-header-tile">
        <p class="admin-header-tile--title">Total Genres</p>
        <p class="admin-header-tile--number">{{ genres|length}}</p>
      </div>
    </a>
  </div>
  <div class="graph-container">
    <h3 class="heading-3">Distribution Overview</h3>
    <img src="{{url_for('genre_distribution_graph')}}" alt="genre-distribution">
    <img src="{{url_for('user_channel_distribution_graph')}}" alt="user-distribution">
  </div>
</section>
{% endblock %}