{% extends 'base.html' %} {% block title %} Latest Tracks {% endblock %}
{% block m_head %}
{% endblock %} {% block m_content %}
<section class="section section-new-tracks">
  <h2 class="heading-2 mb-medium">
    {{ title }}
  </h2>
  <table class="table">
    <thead>
      <tr>
        <th>Track Name</th>
        <th>Track ID</th>
        <th>Published On</th>
        <th>Channel Name, Channel ID</th>
        <th>Duration</th>
        {% if edit == True %}
        <th>Views</th>
        {% endif %}
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for track in all_tracks %}
      <tr>
        <td><a href="/player/{{track.id}}">{{ track.name }}</a></td>
        <td>{{ track.id }}</td>
        <td>{{ track.created_at }}</td>
        <td><a href="/dashboard/channel/{{track.channel.id}}">{{ track.channel.name }}</a>, {{ track.channel.id }}</td>
        <td>{{ track.duration | format_duration_words}}</td>
        {% if edit == True %}
        <td>{{ track.views }}</td>
        {% endif %}
        <td>
          {% if edit == True %}
          <!-- Edit Button -->
          <a href="/tracks/{{track.id}}/edit" class="btn btn--primary">
            <i class="fas fa-pen-to-square"></i>
          </a>
          {% endif %}
          <!-- Delete Button -->
          <a href="?id={{track.id}}#delete-track-modal" class="btn btn--secondary">
            <i class="fas fa-trash"></i>
          </a>
          <!-- Flag Button -->
          {% if current_user.is_admin == True %}
          {% if track.flagged == None %}
          <a href="?id={{track.id}}#flag-track-modal" class="btn btn--secondary">
            <i class="far fa-flag"></i>
          </a>
          {% else %}
          <a href="/track/unflag/{{track.id}}" class="btn btn--primary">
            <i class="fas fa-flag"></i>
          </a>
          {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% if all_tracks | length == 0 %}
    <p class="no-tracks">No tracks found</p>
    {% endif %}
</section>
{% endblock %}