{% extends "base.html"%}
{% block title %}Explore{% endblock %}
{% block m_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/explore.css') }}">
{% endblock %}
{% block m_content %}
<!-- <section class="section section-options mb-xlarge">
  <div class="explore-option-container mb-medium">
    <a href="/new_releases" class="explore-option__item">
      <div class="explore-option__item--icon">
        <i class="fas fa-fire"></i>
      </div>
      <p class="explore-option__item--text">New Releases</p>
    </a>
    <a href="/top_charts" class="explore-option__item">
      <div class="explore-option__item--icon">
        <i class="fas fa-chart-line"></i>
      </div>
      <p class="explore-option__item--text">Charts</p>
    </a>
    <a href="/" class="explore-option__item">
      <div class="explore-option__item--icon">
        <i class="fas fa-microphone-alt"></i>
      </div>
      <p class="explore-option__item--text">Genres</p>
    </a>
  </div>
</section> -->
<section class="section sections-genre">
  {% with genres=genres %}
  {% include "widgets/genre_tile.html" %}
  {% endwith %}
</section>
<section class="section section-options">
  <a href="/new_releases" class="heading-link">
    <h2 class="heading-2">New Releases</h2>
  </a>
  {% with tracks=new_releases %}
  {% include "widgets/track_carousel.html" %}
  {% endwith %}
</section>
<section class="section section-top">
  <a href="/top_charts" class="heading-link">
    <h2 class="heading-2">Top Viewed Charts</h2>
  </a>
  {% with tracks=top_charts %}
  {% include "widgets/track_tiles.html" %}
  {% endwith %}
</section>
<section class="section section-top-rated">
  <a href="/top_charts" class="heading-link">
    <h2 class="heading-2">Top Rated Charts</h2>
  </a>
  {% with tracks=top_rated_tracks %}
  {% include "widgets/track_tiles.html" %}
  {% endwith %}
</section>
{% endblock %}