{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block m_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block m_content %}
<section class="section section-recents">
  <h2 class="heading-2">
    Recently Played
  </h2>
  {% with tracks=recently_played %}
  {% include "widgets/track_carousel.html" %}
  {% endwith %}
</section>
<section class="section sections-latest">
  <h2 class="heading-2 mb-medium">
    Top Playlists
  </h2>
  <div class="playlist-container">
    {% for n in range (5)%}
    <div class="playlist__item">
      <a href="/" class=" playlist__link">
        <div class="playlist__details">
          <p class="playlist__heading">Playlist Name</p>
          <p class="playlist__subheading">Playlist Author</p>
        </div>
        <i class="fas fa-circle-play playlist__playbutton"></i>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}