{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block m_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block m_content %}
<section class="section section-recents">
  <h2 class="heading-2">
    Latest Tracks
  </h2>
  {% with tracks=latest_tracks %}
  {% include "widgets/track_carousel.html" %}
  {% endwith %}
</section>
<section class="section section-lastest-albums">
  <h2 class="heading-2">
    Latest Albums
  </h2>
  {% with albums=latest_albums %}
  {% include "widgets/album_carousel.html" %}
  {% endwith %}
</section>
{% if recently_played| length > 0 %}
<section class="section section-recents">
  <h2 class="heading-2">
    Recently Played
  </h2>
  {% with tracks=recently_played %}
  {% include "widgets/track_carousel.html" %}
  {% endwith %}
</section>
{% endif %}
<section class="section sections-latest">
  <h2 class="heading-2 mb-medium">
    Latest Playlists
  </h2>
    {% with playlists=latest_playlists %}
    {% include "widgets/playlist_tile.html" %}
    {% endwith %}
</section>
{% endblock %}