{% extends 'base.html' %} {% block title %} Latest Releases {% endblock %}
{% block m_head %}
{% endblock %} {% block m_content %}
<section class="section section-new-tracks">
  <h2 class="heading-2">
    New Releases
  </h2>
  <h3 class="heading-3">
    <a href="/new_releases/tracks" class="heading-link">Tracks</a>
  </h3>
  {% with tracks=new_releases %}
  {% include 'widgets/track_carousel.html' %}
  {% endwith %}
  <a href="/new_releases/tracks" class="btn btn--primary mb-medium">View All</a>
</section>

<section class="section section-new-tracks">
  <h3 class="heading-3">
    <a href="/new_releases/albums" class="heading-link">Albums</a>
  </h3>
  {% with albums=new_releases_albums %}
  {% include 'widgets/album_carousel.html' %}
  {% endwith %}
  {% if albums|length > 5 %}
  <a href="/new_releases/albums" class="btn btn--primary mb-medium">View All</a>
  {% endif %}
</section>

{% endblock %}