{% extends 'base.html' %} {% block title %} Latest Albums {% endblock %}
{% block m_head %}
{% endblock %} {% block m_content %}
<section class="section section-new-albums">

  <h2 class="heading-2">
    Latest Albums
  </h2>
  {% if latest_albums|length == 0 %}
  <div class="section__empty">
    <p class="section__empty--text">No albums found.</p>
  </div>
  {% else %}
  {% with albums=latest_albums %}
  {% include 'widget/album_carousel.html' %}
  {% endwith %}
  {% endif %}
  </div>
</section>
{% endblock %}