{% extends "base.html" %}
{% block title %}Player {% endblock %}
{% block m_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/player.css') }}">
{% endblock %}
{% block m_content %}
<section class="section section-player">
  <div class="player__cover--container">
    <div class="player__cover">
      <img src="{{ url_for('track_cover', track_id = track.id) }}" alt="" class="player__cover--img">
      <div style="background: radial-gradient(
            ellipse at center,
            transparent 20%,
            black 85%
          ),url({{ url_for('track_cover', track_id = track.id) }}) center center / cover no-repeat;" alt=""
        class="player__cover--img-blur"> </div>
      <div class="player__cover--desc">
        <h3 class="heading-3 player__cover--title">{{track.name}}</h3>
        <div class="player__cover--details">
          <a href="/" class="player__cover--artist">
            {{artist.name}}
          </a> &VeryThinSpace; &middot; {{track.release_date.strftime('%Y-%m-%d')}}
          <div class="rating-container">
            <button class="player__rating--btn player__like--btn"> <i
                class="{% if track.user_rating == 1%}fas {% else %}far {%endif%}fa-thumbs-up"></i></button>
            <button class="player__rating--btn player__dislike--btn"><i
                class="{% if track.user_rating == 0%}fas {% else %}far {%endif%}fa-thumbs-down"></i></button>
            <div class="rating">
              <div class="rating__bar" style="width: {{track.average_rating}}%"></div>
            </div>
            <div class="player__rating--text">

            </div>
          </div>
        </div>
        <div class="player__time">
          <span class="player__time--current">0:00</span>
          <span class="player__time--remaining">0:00</span>
        </div>
        <audio src="{{ url_for('track_media', track_id = track.id) }}" class="player__audio"></audio>
        <input type="range" min="0" max="100" value="0" class="player__progress-bar">
        <div class="player__controls">
          <button class="player__controls--btn play-pause">
            <i class="fas fa-circle-play" id="player__controls--btn-ico" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="vl"></div>
  <div class="player__info">
    <div class="player-tab--container">
      {% if track.lyrics %}
      <input type="radio" name="player-tabs" id="lyrics" class="player-tab--radio" checked="{{track.lyrics}}">
      <label for="lyrics" class="player-tab--label">Lyrics</label>
      {% endif %}
      <input type="radio" name="player-tabs" id="comments" class="player-tab--radio" checked="{{not track.lyrics}}">
      <label for="comments" class="player-tab--label">Comments {% if comments %} <span class="badge comment-count">
          {{ comments|length}}</span> {% endif %}</label>
    </div>
    <div class="player__view">
      {% if track.lyrics %}
      <div class="player__view--lyrics">
        <p class="player__view--lyrics--text">
          {{track.lyrics}}
        </p>
      </div>
      {% endif %}
      <div class="player__view--comments-container">
        <div class="comments">
          {% if comments %}
          {% for comment in comments | reverse %}
          <div class="comment">
            <div class="comment__header">
              <a class="comment__header--user" href="/user/{{comment.user.id}}"> {{ comment.user.nickname }}</a>
              <div>
                <span class="comment__header--date">
                  {{ comment.created_at.strftime('%Y-%m-%d') }}
                </span>
                {% if comment.user.id == current_user.id %}
                <a href="{{url_for('delete_comment', track_id=track.id, comment_id=comment.id)}}"
                  class="comment__header--delete"><i class="fas fa-trash-alt"></i></a>
                {% endif %}
              </div>
            </div>
            <div class="comment__body">
              <p class="comment__body--text">{{comment.comment}}</p>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <div class="no-comment">
            No comments yet, Be the first to comment!
          </div>
          {% endif %}
        </div>
        <form action="{{url_for('create_comment', track_id=track.id)}}" method="post" class="comment-box-container">
          <div class="comment-box">
            <input minlength="1" required type="text" autocomplete="off" name="comment" placeholder="Enter comment"
              class="comment-box--bar">
            <button type="submit" value="comment" class="comment-box--btn"><i class="fas fa-paper-plane"
                aria-hidden="true"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


{% endblock %}
{% block scripts %}
<script>
  var lyricsTab = document.querySelector('.player__view--lyrics');
  var commentsTab = document.querySelector('.player__view--comments-container');
  var lyricsRadio = document.querySelector('#lyrics');
  var commentsRadio = document.querySelector('#comments');
  var playPause = document.querySelector('.play-pause');
  var audio = document.querySelector('.player__audio');
  var progressBar = document.querySelector('.player__progress-bar');
  var current = document.querySelector('.player__time--current');
  var remaining = document.querySelector('.player__time--remaining');
  var likeButton = document.querySelector('.player__like--btn');
  var dislikeButton = document.querySelector('.player__dislike--btn');

  var initalized = false;
  if (!initalized) {
    updateLikePercentage();
    if (lyricsRadio != null) {
      activateLyrics();
    }

  }

  function activateLyrics() {
    lyricsTab.style.display = 'block';
    commentsTab.style.display = 'none';
    lyricsRadio.checked = true;
    commentsRadio.checked = false;
  }

  function activateComments() {
    lyricsTab.style.display = 'none';
    commentsTab.style.display = 'flex';
    lyricsRadio.checked = false;
    commentsRadio.checked = true;
  }

  function formatTime(seconds) {
    var minutes = Math.floor(seconds / 60);
    var seconds = Math.floor(seconds % 60);
    if (seconds < 10) {
      seconds = '0' + seconds;
    }
    return minutes + ':' + seconds;
  }

  function playTrack() {
    audio.play();
    playPause.innerHTML = '<i class="fas fa-circle-pause" id="player__controls--btn-ico" aria-hidden="true"></i>';
  }

  function pauseTrack() {
    audio.pause();
    playPause.innerHTML = '<i class="fas fa-circle-play" id="player__controls--btn-ico" aria-hidden="true"></i>';
  }

  function toggleLike(isOn) {
    if (isOn) {
      likeButton.children[0].classList.remove('far');
      likeButton.children[0].classList.add('fas');
      return;
    } else {
      likeButton.children[0].classList.remove('fas');
      likeButton.children[0].classList.add('far');
      return;
    }
  }

  function toggleDislike(isOn) {
    if (isOn) {
      dislikeButton.children[0].classList.remove('far');
      dislikeButton.children[0].classList.add('fas');
      return;
    } else {
      dislikeButton.children[0].classList.remove('fas');
      dislikeButton.children[0].classList.add('far');
      return;
    }
  }

  async function updateLikePercentage() {
    const response = await fetch(`http://127.0.0.1:5000/api/v1/rating/{{track.id}}`, {
      method: 'GET',
    });

    if (!response.ok) {
      console.error('Failed to fetch rating');
      return;
    }

    const responseData = await response.json();
    const likePercentage = responseData.rating * 100;
    document.querySelector('.rating__bar').style.width = `${likePercentage}%`;
    document.querySelector('.player__rating--text').innerHTML = `${likePercentage}%`;

  }

  if (lyricsRadio != null) {
    lyricsRadio.addEventListener('change', function () {
      if (this.checked) {
        activateLyrics();
      }
    });
  }

  document.getElementById('comments').addEventListener('change', function () {
    if (this.checked) {
      activateComments();
    }
  });

  document.addEventListener("click", function () {
    if (initalized)
      return;

    playTrack();
    initalized = true;
  });

  playPause.addEventListener('click', function () {
    if (audio.paused) {
      playTrack();
    } else {
      pauseTrack();
    }
  });


  audio.addEventListener('timeupdate', function () {
    var position = audio.currentTime / audio.duration;
    progressBar.value = position * 100;
    current.innerHTML = formatTime(audio.currentTime);
    remaining.innerHTML = `-${formatTime(audio.duration - audio.currentTime)}`;
  });

  progressBar.addEventListener('click', function (e) {
    audio.pause();
    var position = e.offsetX / this.offsetWidth;
    audio.currentTime = position * audio.duration;
    progressBar.value = position / 100;
    playTrack();
  });

  dislikeButton.addEventListener('click', async function () {
    console.log('dislike');
    const response = await fetch(`http://127.0.0.1:5000/api/v1/rating/{{track.id}}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ rating: 0, user_id: {{ current_user.id }}})
  });

  if (response.ok) {
    const responseData = await response.json();
    if (responseData.action == 'created') {
      toggleDislike(true);
      toggleLike(false);
    } else if (responseData.action == 'deleted') {
      toggleDislike(false);
    }
    updateLikePercentage();
  } else {
    console.error('Failed to create/update rating');
  }
  });

  likeButton.addEventListener('click', async function () {
    const response = await fetch(`http://127.0.0.1:5000/api/v1/rating/{{track.id}}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ rating: 1, user_id: {{ current_user.id }}})
  });

  if (response.ok) {
    const responseData = await response.json();
    if (responseData.action == 'created') {
      toggleLike(true);
      toggleDislike(false);
    } else if (responseData.action == 'deleted') {
      toggleLike(false);
    }
    updateLikePercentage();
  } else {
    console.error('Failed to create/update rating');
  }
  });
</script>
{% endblock %}