{% extends "base.html" %}
{% block title %}Player {% endblock %}
{% block m_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/player.css') }}">
{% endblock %}
{% block m_content %}
<section class="section section-player">
  <div class="player__cover--container">
    <div class="player__cover">
      <img src="{{ url_for('track_cover', track_id = track.id) }}" alt="" class="player__cover--img">
      <div style="background: radial-gradient(
            ellipse at center,
            transparent 20%,
            black 85%
          ),url({{ url_for('track_cover', track_id = track.id) }}) center center / cover no-repeat;" alt=""
        class="player__cover--img-blur"> </div>
      <div class="player__cover--desc">
        <h3 class="heading-3 player__cover--title">{{track.name}}</h3>
        <a href="/" class="player__cover--artist">
          {{artist.nickname}}
          <!-- TODO : Add likes -->
        </a> &middot; {{track.release_date.strftime('%Y-%m-%d')}}
      </div>
    </div>
  </div>
  <div class="vl"></div>
  <div class="player__info">
    <div class="player-tab--container">
      {% if track.lyrics %}
      <input type="radio" name="player-tabs" id="lyrics" class="player-tab--radio" checked="{{track.lyrics}}">
      <label for="lyrics" class="player-tab--label">Lyrics</label>
      {% endif %}
      <input type="radio" name="player-tabs" id="comments" class="player-tab--radio" checked="{{not track.lyrics}}">
      <label for="comments" class="player-tab--label">Comments {% if comments %} <span class="badge comment-count">
          {{ comments|length}}</span> {% endif %}</label>
    </div>
    <div class="player__view">
      {% if track.lyrics %}
      <div class="player__view--lyrics">
        <p class="player__view--lyrics--text">
          {{track.lyrics}}
        </p>
      </div>
      {% endif %}
      <div class="player__view--comments-container">
        <div class="comments">
          {% if comments %}
          {% for comment in comments | reverse %}
          <div class="comment">
            <div class="comment__header">
              <a class="comment__header--user" href="/user/{{comment.user.id}}"> {{ comment.user.nickname }}</a>
              <div>
                <span class="comment__header--date">
                  {{ comment.created_at.strftime('%Y-%m-%d') }}
                </span>
                {% if comment.user.id == current_user.id %}
                <a href="{{url_for('delete_comment', track_id=track.id, comment_id=comment.id)}}"
                  class="comment__header--delete"><i class="fas fa-trash-alt"></i></a>
                {% endif %}
              </div>
            </div>
            <div class="comment__body">
              <p class="comment__body--text">{{comment.comment}}</p>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <div class="no-comment">
            No comments yet, Be the first to comment!
          </div>
          {% endif %}
        </div>
        <form action="{{url_for('create_comment', track_id=track.id)}}" method="post" class="comment-box-container">
          <div class="comment-box">
            <input minlength="1" required type="text" autocomplete="off" name="comment" placeholder="Enter comment"
              class="comment-box--bar">
            <button type="submit" value="comment" class="comment-box--btn"><i class="fas fa-paper-plane"
                aria-hidden="true"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


{% endblock %}
{% block scripts %}
<script>
  var lyricsTab = document.querySelector('.player__view--lyrics');
  var commentsTab = document.querySelector('.player__view--comments-container');
  var lyricsRadio = document.querySelector('#lyrics');
  var commentsRadio = document.querySelector('#comments');
  var initalized = false;
  if (!initalized) {
    activateLyrics();
    initalized = true;
  }

  function activateLyrics() {
    lyricsTab.style.display = 'block';
    commentsTab.style.display = 'none';
    lyricsRadio.checked = true;
    commentsRadio.checked = false;

    console.log(lyricsRadio.checked, commentsRadio.checked);
  }

  function activateComments() {
    lyricsTab.style.display = 'none';
    commentsTab.style.display = 'flex';
    lyricsRadio.checked = false;
    commentsRadio.checked = true;

    console.log(lyricsRadio.checked, commentsRadio.checked);
  }

  document.getElementById('lyrics').addEventListener('change', function () {
    if (this.checked) {
      activateLyrics();
    }
  });

  document.getElementById('comments').addEventListener('change', function () {
    if (this.checked) {
      activateComments();
    }
  });




</script>
{% endblock %}