{% extends "base.html"%}
{%block title%}Playlist{%endblock%}
{%block m_head%}
<link rel="stylesheet" href="{{url_for('static', filename='css/playlist.css')}}">
{%endblock%}
{%block m_content%}
<section class="section">
  <div class="playlist-header">
    <h2 class="heading-2">
      {{playlist.name}}
    </h2>
    {% if playlist.description != "" %}
    <p class="playlist-header__description">
      Description: {{playlist.description}}
    </p>
    {% endif %}
    <p class="playlist-header__description">
      {{ playlist.author.nickname }} • {{playlist.items|length}} songs, {{ playlist.items| playlist_total_duration}}
    </p>

    <div class="playlist-header__buttons">

      {% if playlist.items|length > 0 %}
      <a href="/player/playlist/{{playlist.id}}" class="btn btn--white"><i class="fas fa-play"></i>Play</a>
      {% endif %}
      {% if playlist.author.id == current_user.id %}
      <a href="#playlist-edit-modal" class="btn "><i class="fas fa-pencil"></i>Edit Playlist</a>
      <a href="/playlist/{{playlist.id}}/delete" class="btn ">Delete Playlist</a>
      {% endif %}
    </div>
  </div>
  <hr class="hr">
</section>
<section class="section section-playlist-songs">
  <ul class="track-list">
    {% with tracks=playlist.items,playlist_id = playlist.id, author_id = playlist.author.id %}
    {% include "widgets/track_list.html" %}
    {% endwith %}
    {% if playlist.items|length == 0 %}
    <h3 class="heading-3">No Tracks Yet</h3>
    {% endif %}
  </ul>
</section>
{% endblock %}
{% block extra_modals %}

<section id="playlist-edit-modal" class="modal">
  <div class="modal__backdrop">
  </div>

  <div class="modal__container">
    <div class="modal__header">
      <h2 class="heading-2">Update Playlist</h2>
    </div>
    <div class="modal__content">
      <form action="/playlist/{{playlist.id}}/update" method="POST">
        <div class="form__group">
          <input type="text" minlength="2" maxlength="20" name="name" id="name" placeholder="{{playlist.name}}"
            value="{{playlist.name}}" class="form__input" required>
          <label for="name" class="form__label">Playlist Name</label>
        </div>
        <br>
        <div class="form__group">
          <textarea name="description" maxlength="400" id="description" cols="30" rows="10"
            class="form__input form__input--textarea"
            placeholder="Description (Optional)">{{playlist.description}}</textarea>
          <label for="description" class="form__label">Description (Optional, 400 characters maximum) </label>
        </div>
        <br>
        <input type="text" name="route" id="" value="{{ request.path }}" style="display: none;">
        <div class="modal__footer">
          <a href="#main" class="btn">Close</a>
          <button type="submit" class="btn btn--primary">Update Playlist</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}