{% extends "base.html"%}
{%block title%}Upload{%endblock%}
{%block m_content%}
<section class="section section-upload">
  <h2 class="heading-2">Upload a track</h2>
  <form action="/upload" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" placeholder="Title" required>
    </div>
    <div class="form-group">
      <label for="genre">Genre</label>
      <input type="text" name="genre" id="genre" placeholder="Genre" required>
    </div>
    <div class="form-group">
      <label for="lyrics">Lyrics</label>
      <textarea type="text" name="lyrics" id="lyrics" placeholder="Lyrics"></textarea>
    </div>
    <div class="form-group">
      <label for="artist">Release Date</label>
      <input type="date" name="release_date" id="release_date" required>
    </div>
    <div class="form-group">
      <label for="cover">Cover</label>
      <input type="file" accept=".png" name="cover" id="cover" required>
    </div>
    <div class="form-group">
      <label for="track">Track</label>
      <input type="file" accept=".mp3" name="track" id="track" required>
    </div>
    <input type="submit" value="Upload" class="btn btn-primary" />
  </form>
</section>
{% endblock %}