{% extends "core.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/music-widgets.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/player-bar.css')}} ">
{% block m_head %} {% endblock %}
{% endblock %}
{% block content %}
<div class="page-container">
  {% include "sidebar.html" %}
  <div class="page-content">
    {% include "navbar.html" %}
    <div class="container">
      {% block m_content %}{% endblock %}
    </div>
  </div>
  <!-- <div class="player-frame-container">
    <iframe class="player-bar" src="/player_controls" frameborder="0" width="100%"> Player </iframe>
  </div> -->
</div>
{% endblock %}