<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %} - Audify</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/widgets.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
  {% block head %} {% endblock %}
</head>

<body>
  <header>
    {% block header %}
    {% endblock %}
  </header>
  <main id="main">
    {% block content %}{% endblock %}
  </main>
  <footer>
    {% block footer %}
    {% endblock %}
  </footer>
  {% include "modals.html" %}
  {% block extra_modals %}{% endblock %}
</body>
<script src="https://kit.fontawesome.com/2e34807a57.js" crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}

</html>