<section id="logout-modal" class="modal">
  <div class="modal__backdrop">
  </div>

  <div class="modal__container">
    <div class="modal__header">
      <h2 class="heading-2">Logout</h2>
    </div>
    <div class="modal__content">
      <p class="modal__text">Are you sure you want to log out?</p>
    </div>
    <div class="modal__footer">
      <a href="/logout" class="btn btn--secondary">Logout</a>
      <a href="#main" class="btn btn--primary">Close</a>
    </div>
  </div>
</section>
<section id="playlist-modal" class="modal">
  <div class="modal__backdrop">
  </div>

  <div class="modal__container">
    <div class="modal__header">
      <h2 class="heading-2">Create Playlist</h2>
    </div>
    <div class="modal__content">
      <form action="/playlist" method="POST">
        <div class="form__group">
          <input type="text" minlength="2" maxlength="20" value="" name="name" id="name" placeholder="Playlist Name"
            class="form__input" required>
          <label for="name" class="form__label">Playlist Name</label>
        </div>
        <br>
        <div class="form__group">
          <textarea name="description" maxlength="400" value="" id="description" cols="30" rows="10"
            class="form__input form__input--textarea" placeholder="Description (Optional)"></textarea>
          <label for="description" class="form__label">Description (Optional, 400 characters maximum) </label>
        </div>
        <br>
        <input type="text" name="route" id="" value="{{ request.full_path }}" style="display: none;">
        <div class="modal__footer">
          <a href="#main" class="btn">Close</a>
          <button type="submit" class="btn btn--primary">Create Playlist</button>
        </div>
      </form>
    </div>
  </div>
</section>
</section>
<section id="playlist-add-modal" class="modal">
  <div class="modal__backdrop">
  </div>

  <div class="modal__container">
    <div class="modal__header">
      <h2 class="heading-2">Save to Playlist</h2>
    </div>
    <div class="modal__content">
      <form action="/playlist/add" method="POST" class="modal-form-container">
        <p>Select Playlist</p>
        {% for playlist in current_user.playlists %}
        <div class="modal-form-group">
          <input type="checkbox" name="playlist" id="{{playlist.id}}" value="{{ playlist.id }}"
            class="modal-form__checkbox checkbox-disable">
          <label for="{{ playlist.id }}" class="modal-form__label">{{ playlist.name }}</label>
        </div>
        {% endfor %}
        <hr class="hr">
        <a href="#playlist-modal" class="modal-form__btn-extra">
          <label class="modal-form__label"><i class="fas fa-plus"></i>
            <p>Create new Playlist</p>
          </label>
        </a>
        <div class="modal__footer">
          <a href="#main" class="btn">Close</a>
          <button type="submit" class="btn btn--white">Add</button>
        </div>
        <input type="text" name="route" value="{{ request.full_path }}" style="display: none;">
      </form>
    </div>
  </div>
</section>
<section id="delete-track-modal" class="modal">
  <div class="modal__backdrop">
  </div>

  <div class="modal__container">
    <div class="modal__header">
      <h2 class="heading-2">Delete Track</h2>
    </div>
    <div class="modal__content">
      <p class="modal__text">Are you sure you want to delete this track from this platform? This action cannot be
        irreversible.
      </p>
    </div>
    <div class="modal__footer">
      <form action="/track/delete" method="POST" class="modal__footer">
        <input type="text" name="route" value="{{ request.full_path }}" style="display: none;">
        <button type="submit" class="btn btn--secondary">Delete</button>
        <a href="#main" class="btn btn--primary">Close</a>
      </form>
    </div>
  </div>
</section>
<section id="flag-track-modal" class="modal">
  <div class="modal__backdrop">
  </div>

  <div class="modal__container">
    <div class="modal__header">
      <h2 class="heading-2">Flag Track</h2>
    </div>
    <div class="modal__content">
      <p class="modal__text">Are you sure you want to flag this track?
      </p>
    </div>
    <div class="modal__footer">
      <form action="/track/flag" method="POST" class="modal__footer">
        <input type="text" name="route" value="{{ request.full_path }}" style="display: none;">
        <button type="submit" class="btn btn--secondary">Flag</button>
        <a href="#main" class="btn btn--primary">Close</a>
      </form>
    </div>
  </div>
</section>