<nav class="navbar">
  <form action="/search" method="get" class="search-container">
    <div class="search">
      <input type="text" name="q" placeholder="Enter Search Terms" class="search--bar">
      <button type="submit" value="Search" class="search--button">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
  <div class="profile-icon-container">
    <input type="checkbox" name="profile" id="profile" class="profile-icon__checkbox">
    <div class="profile-dropdown-container">
      <ul class="dropdown-list">
        <li class="dropdown-item">
          <a class="dropdown-item--link" href="/dashboard">Dashboard</a>
        </li>
        {% if current_user.channels != None %}
        <li class="dropdown-item">
          <a class="dropdown-item--link" href="/edit_channel">Channel Dashboard</a>
        </li>
        {% endif %}
        <li class="dropdown-item">
          <a class="dropdown-item--link" href="/edit_profile">Edit Profile</a>
        </li>
        {% if current_user.channels == None %}
        <li class="dropdown-item">
          <a class="dropdown-item--link" href="/register_creator">Register as Creator</a>
        </li>
        {% endif %}
        {% if current_user.channels != None %}
        <li class="dropdown-item">
          <a class="dropdown-item--link" href="/edit_channel">Edit Channel</a>
        </li>
        {% endif %}
        <li class="dropdown-item">
          <a class="dropdown-item--link" href="#logout-modal">Logout</a>
        </li>
      </ul>
    </div>
    <label for="profile" class="navbar__profile">
      <i class="fas fa-circle-user"></i>
    </label>
  </div>
  <a class="navbar__profile" href="/dashboard">

  </a>
</nav>