<div class="sidebar">
  <a href="/home">
    <div class="sidebar__top">
      <div class="sidebar-logo">
        &nbsp;
      </div>
    </div>
  </a>
  <hr class="sidebar__hr">
  <ul class="side-nav">
    <li class="sidebar__item">
      <a href="/" class="sidebar__link">
        <i class="fas fa-home sidebar__item--icon"></i>
        <span class="sidebar__item--text">Home</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="/explore" class="sidebar__link">
        <i class="fas fa-compass sidebar__item--icon"></i>
        <span class="sidebar__item--text">Explore</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="/dashboard" class="sidebar__link">
        <i class="fas fa-user sidebar__item--icon"></i>
        <span class="sidebar__item--text">Dashboard</span>
      </a>
    </li>
    {% if current_user.channels != None %}
    <li class="sidebar__item">
      <a href="/upload" class="sidebar__link">
        <i class="fas fa-upload sidebar__item--icon"></i>
        <span class="sidebar__item--text">Upload Track</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="/album/add" class="sidebar__link">
        <i class="fas fa-record-vinyl sidebar__item--icon"></i>
        <span class="sidebar__item--text">Create Album</span>
      </a>
    </li>
    {% endif %}
  </ul>

  <hr class="sidebar__hr">
  <a href="#playlist-modal" class="btn mb-small">
    &plus; Create Playlist
  </a>
  <ul class="side-nav">
    {% with playlists = current_user.playlists %}
    {% include 'widgets/playlist_tile.html' %}
    {% endwith %}
  </ul>
</div>