<div class="sidebar">
  <div class="sidebar__top">
    <div class="side-banner__logo">
      &nbsp;
    </div>
    <h2 class="side-banner__text">
      AUDIFY
    </h2>
  </div>
  <hr class="sidebar__hr">

  <ul class="side-nav">
    <li class="sidebar__item">
      <a href="/" class="sidebar__link">
        <i class="fas fa-home sidebar__item--icon"></i>
        <span class="sidebar__item--text">Home</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="/explore" class="sidebar__link">
        <i class="fas fa-compass sidebar__item--icon"></i>
        <span class="sidebar__item--text">Explore</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="/" class="sidebar__link">
        <i class="fas fa-music sidebar__item--icon"></i>
        <span class="sidebar__item--text">Your Music</span>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="/dashboard" class="sidebar__link">
        <i class="fas fa-user sidebar__item--icon"></i>
        <span class="sidebar__item--text">Dashboard</span>
      </a>
    </li>
    {% if current_user.channels != None %}
    <li class="sidebar__item">
      <a href="/upload" class="sidebar__link">
        <i class="fas fa-upload sidebar__item--icon"></i>
        <span class="sidebar__item--text">Upload Track</span>
      </a>
    </li>
    {% endif %}
  </ul>

  <hr class="sidebar__hr">
  <h3 class="heading-3 mb-medium">Your Playlists</h3>
  <ul class="side-nav">
    <li class="sidebar__item playlist__item">
      <a href="/" class="sidebar__link playlist__link">
        <div class="playlist__details">
          <p class="playlist__heading">Playlist Name</p>
          <p class="playlist__subheading">Playlist Author</p>
        </div>
      </a>
    </li>
    <li class="sidebar__item playlist__item">
      <a href="/" class=" playlist__link">
        <div class="playlist__details">
          <p class="playlist__heading">Playlist Name</p>
          <p class="playlist__subheading">Playlist Author</p>
        </div>
        </p>
      </a>
    </li>
  </ul>
  <a href="/" class="btn">
    &plus; Create Playlist
  </a>
</div>