{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block m_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}
{% block m_content %}
<section class="hero">
  <div class="hero__avatar">
    <!-- TODO: Add Avatar in the databases -->
    <img src="{{ url_for('channel_avatar', channel_id = channel.id)}}" alt="Avatar" class="hero__avatar--img">
    <!-- Get the first character of the user -->
    <!-- <div class="hero__avatar--img">
      {{channel.name[0]}}
    </div> -->
  </div>
  <div class="hero__details">
    <div class="hero__details--header">
      <div class="hero__details--header">
        <h2 class=" heading-2 hero__details--title">
          {{channel.name}}
        </h2>
      </div>
    </div>
    <p class="hero__details--bio">
      BIO: {% if channel.description != '' %} {{channel.description}}
      {% else %} Welcome to the channel of {{ channel.name }} {% endif %}
    </p>
  </div>
  <div class="hero__cta">
    {% if own_profile == True %}
    <a href="/edit_profile_creator" class="btn btn--primary">
      <i class="fas fa-pen-to-square"></i> Edit Profile
    </a>
    {% endif %}
    {% if channel.whitelist != None %}
    <a href="/channels/{{channel.id}}/whitelist" class="btn btn--white">
      <i class="fas fa-user-slash"></i> Remove Whitelist
    </a>
    {% elif channel.blacklisted %}
    <a href="/channels/{{channel.id}}/blacklist" class="btn btn--secondary">
      <i class="fas fa-user-check"></i> Remove Blacklist
    </a>
    {% else %}
    {% if current_user.is_admin %}
    <a href="/channels/{{channel.id}}/whitelist" class="btn btn--white">
      <i class="fas fa-user-shield"></i> Whitelist Channel
    </a>
    <a href="/channels/{{channel.id}}/blacklist" class="btn btn--secondary">
      <i class="fas fa-user-slash"></i> Blacklist Channel
    </a>
    {% endif %}
    {% endif %}
  </div>
</section>
<hr class="hr">
<section class="section section-stats">
  <div class="header-tiles">
    {% if own_profile == True %}
    <a href="/dashboard/channel/{{channel.id}}/tracks/list">
      <div class="header-tile">
        <p class="header-tile--number">{{ channel_tracks|length}}</p>
        <p class="header-tile--title">Total Tracks</p>
      </div>
    </a>
    {% else %}
    <div class="header-tile">
      <p class="header-tile--number">{{ channel_tracks|length}}</p>
      <p class="header-tile--title">Total Tracks</p>
    </div>
    {% endif %}
    <div class="header-tile">
      <p class="header-tile--number">{{ channel_albums|length}}</p>
      <p class="header-tile--title">Total Albums</p>
    </div>
    <div class="header-tile">
      <p class="header-tile--number">{{ views }}</p>
      <p class="header-tile--title">Total Views</p>
    </div>
  </div>
</section>
<section class="section section-tracks">
  {% if channel_tracks|length == 0 %}
  <p class="heading-2">No tracks yet</p>
  {% else %}
  <h2 class="heading-2">
    {{ channel.name }}'s tracks
  </h2>

  {% with tracks=channel_tracks[:5] %}
  {% include "widgets/track_carousel.html" %}
  {% endwith %}
  {% if channel_tracks|length > 5 %}
  <a href="/dashboard/channel/{{channel.id}}/tracks" class="btn btn--white">See all</a>
  {% endif %}
  {% endif %}
</section>
{% if channel_albums|length > 0 %}
<section class="section section-albums">
  <h2 class="heading-2">
    {{ channel.name }}'s albums
  </h2>
  {% with albums=channel_albums %}
  {% include "widgets/album_carousel.html" %}
  {% endwith %}
  {% endif %}
</section>
{% if channel_tracks|length == 0 and channel_albums|length == 0 %}
<section class="section section-nothing">
  <h2 class="heading-2">Nothing here yet</h2>
  <br>
  {% if own_profile == True %}
  <p class="heading-3">When you upload tracks, they will appear here</p>
  <br>
  <a href="/upload" class="btn btn--white">Upload a track</a>
  {% else %}
  <p class="heading-3">When {{channel.name}} uploads tracks, they will appear here</p>
  {% endif %}
</section>
{% endif %}

{% endblock %}