{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block m_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}
{% block m_content %}
<section class="hero">
  <div class="hero__avatar">
    <!-- TODO: Add Avatar in the databases -->
    <img src="{{ url_for('user_avatar', user_id = user.id)}}" alt="Avatar" class="hero__avatar--img">
    <!-- Get the first character of the user -->
    <!-- <div class="hero__avatar--img">
      {{user.nickname[0]}}
    </div> -->
  </div>
  <div class="hero__details">
    <div class="hero__details--header">
      <div class="hero__details--header">
        <h2 class=" heading-2 hero__details--title">
          {{user.nickname}}
        </h2>
        <p class="hero__details--subtitle">
          @{{user.username}}
        </p>
      </div>
      <!-- TOOD Fix this -->
      {% if user.id == current_user.id %}
      <div class="hero__cta">
        <a href="/edit_profile" class="btn btn--white">
          <i class="fas fa-pen-to-square"></i> Edit Profile
        </a>
      </div>
      {% endif %}
    </div>
    <p class="hero__details--bio">
      BIO: {{user.bio}}
    </p>
  </div>

</section>
<hr class="hr">
{% if recent_tracks != [] %}
<section class="section section-recents section-recents-dashboard">
  <h2 class="heading-2 mb-medium">
    Recently Played
  </h2>
  {% with tracks=recent_tracks,playlist_id = 0%}
  {% include "widgets/track_list.html" %}
  {% endwith %}
</section>
{% endif %}
<section class="section section-playlists">
  <h2 class="heading-2 mb-medium">
    {{ user.nickname }}'s Playlists
  </h2>
  {% with playlists=playlists %}
  {% include "widgets/playlist_tile.html" %}
  {% endwith %}
</section>
{% endblock %}