{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block m_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
{% endblock %}
{% block m_content %}
<section class="section section-edit-profile">
  <div class="avatar-section">
    <h3 class="heading-3">Current Profile</h3>
    <br>
    <div class="avatar-container">
      <img src="{{url_for('user_avatar', user_id = current_user.id)}}" alt="Avatar" class="avatar-img">
    </div>
    <h3 class="heading-3 avatar--title">{{current_user.nickname}}</h3>
    <h4 class="heading-4 avatar--subtitle">@{{current_user.username}}</h4>
    <p class="avatar-desc">
      {{current_user.bio}}
    </p>
  </div>
  <div class="form__container">
    <h2 class="heading-2 form__heading">Edit Profile</h2>
    <form class="form__box" action="/edit_profile" method="post" enctype="multipart/form-data">
      <div class="avatar-container avatar-container--editable">
        <input type="file" style="display: none;" name="avatar" id="avatar" accept="image/png"
          onchange="displaySelectedImage(event)">
        <label for="avatar" class="avatar-label" onclick="openFileSelector()">
          <img src="{{ url_for('user_avatar', user_id=current_user.id) }}" alt="avatar" class="avatar-img"
            id="currentAvatar">
          <span class="avatar-edit"><i class="fas fa-pen"></i> Edit Avatar</span>
        </label>
      </div>

      <div class="form__group">
        <input type="text" minlength="2" maxlength="20" value="{{current_user.nickname}}" name="nickname" id="nickname"
          placeholder="Nickname" class="form__input">
        <label for="nickname" class="form__label">Nickname</label>
      </div>
      <br>
      <div class="form__group">
        <textarea name="bio" maxlength="200" value="{{current_user.bio}}" id="bio" cols="30" rows="10"
          class="form__input form__input--textarea" placeholder="Bio (Optional)">{{current_user.bio}}</textarea>
        <label for="bio" class="form__label">Bio (Optional, 200 characters maximum) </label>
      </div>
      <br>
      <div class="form__group">
        <input type="password" minlength="8" name="password" id="password" placeholder="Password"
          class="form__input form__input--password" required>
        <label for="password" class="form__label">Password</label>
      </div>
      <br>
      <div class="form__group">
        <input pattern="[a-zA-Z0-9%\_$\-@]{6,}" type="password" minlength="8" name="new_password" id="new_password"
          placeholder="New Password" class="form__input form__input--password">
        <label for="new_password" class="form__label">New Password</label>
      </div>
      <br>
      <input type="submit" value="Edit" class="form__button">
      <br>
      {% if error %}
      <p class="form__error">{{ error }}</p>
      {% endif %}
    </form>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script>
  function openFileSelector() {
    document.getElementById('fileInput').click(); // Trigger click on the hidden file input
  }

  function displaySelectedImage(event) {
    const file = event.target.files[0]; // Get the selected file
    if (file && file.type === 'image/png') {
      const reader = new FileReader(); // Create a FileReader object
      reader.onload = function () {
        const newAvatar = document.getElementById('currentAvatar');
        newAvatar.src = reader.result; // Display the selected image
      }
      reader.readAsDataURL(file); // Read the file as a data URL
    } else {
      alert('Please select a PNG image file.');
    }
  }

</script>
{% endblock %}