{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block m_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
{% endblock %}
{% block m_content %}
<section class="section section-edit-profile">
  <div class="form__container">
    <h2 class="heading-2 form__heading">Edit Profile</h2>
    <form class="form__box" action="/register_creator" method="post" enctype="multipart/form-data">
      <div class="avatar-container avatar-container--editable">
        <input type="file" style="display: none;" name="avatar" id="avatar" accept="image/png"
          onchange="displaySelectedImage(event)">
        <label for="avatar" class="avatar-label" onclick="openFileSelector()">
          <img src="{{ url_for('channel_avatar', channel_id=0) }}" alt="avatar" class="avatar-img" id="currentAvatar">
          <span class="avatar-edit"><i class="fas fa-pen"></i> Edit Avatar</span>
        </label>
      </div>
      <div class="form__group">
        <input type="text" minlength="2" maxlength="20" value="{{current_user.nickname}}" name="name" id="name"
          placeholder="Channel Name" class="form__input">
        <label for="name" class="form__label">Channel Name</label>
      </div>
      <br>
      <div class="form__group">
        <textarea name="description" maxlength="400" value="{{current_user.bio}}" id="description" cols="30" rows="10"
          class="form__input form__input--textarea" placeholder="Description (Optional)">{{current_user.bio}}</textarea>
        <label for="description" class="form__label">Description (Optional, 400 characters maximum) </label>
      </div>
      <br>
      <div class="form__group">
        <input type="password" minlength="8" name="password" id="password" placeholder="Password"
          class="form__input form__input--password" required>
        <label for="password" class="form__label">Password</label>
      </div>
      <br>
      <input type="submit" value="Edit" class="form__button">
      <br>
      {% if error %}
      <p class="form__error">{{ error }}</p>
      {% endif %}
    </form>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script>
  function openFileSelector() {
    document.getElementById('fileInput').click(); // Trigger click on the hidden file input
  }

  function displaySelectedImage(event) {
    const file = event.target.files[0]; // Get the selected file
    if (file && file.type === 'image/png') {
      const reader = new FileReader(); // Create a FileReader object
      reader.onload = function () {
        const newAvatar = document.getElementById('currentAvatar');
        newAvatar.src = reader.result; // Display the selected image
      }
      reader.readAsDataURL(file); // Read the file as a data URL
    } else {
      alert('Please select a PNG image file.');
    }
  }

</script>
{% endblock %}