<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inactive User Notification - Audify</title>
</head>

<body>
  <p>Dear {{ username }},</p>

  <p>We noticed that you haven't listened to any music on Audify since {{ last_activity_date }}. We hope you've been
    enjoying your favorite tunes elsewhere, but we'd love to have you back!</p>

  <p>Remember, with Audify, you have access to a vast library of music spanning all genres. Whether you're into rock,
    pop, hip-hop, or classical, we've got something for you.</p>

  <p>Log back in to Audify today to rediscover your favorite tracks and explore new ones. Don't miss out on the latest
    releases and personalized playlists tailored just for you!</p>

  <p>If you have any questions or need assistance, don't hesitate to reach out to our support team. We're here to help.
  </p>

  <p>We look forward to seeing you back on Audify soon!</p>

  <p>Best regards,<br>
    The Audify Team</p>
</body>

</html>